*.csv filter=lfs diff=lfs merge=lfs -text
data_for_project/UCI_HAR_Dataset/new_sensor_data.csv filter=lfs diff=lfs merge=lfs -text
data_for_project/new_sensor_data.csv filter=lfs diff=lfs merge=lfs -text
results/predictions.csv filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
